<!DOCTYPE html>
<html>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
    	<link href="../css/Sanchuang.css" rel="stylesheet">
        <link href="../css/index.css" rel="stylesheet">
		<title>中原大學  教學卓越三創暨創新創業紮根資訊網</title>    
    </head>
    <body>
    <div id="wrap">
        	<div id="top" align="right">
            	<div id="top_left">
                	<img src="../images/style/logo-2.jpg"/>
                </div>
                <div id="top_right1">
                	<img src="../images/style/name.jpg"/>
                </div>
                <div id="tab1">
                </div>
                <div id="top_right2">
                	<div id="top_text">
                    	<span class="11-Arial-brown">
                            <br>
                            <a href="http://www.philia.com.tw/chung-yuan/index.html">回首頁</a>
                                  │   
                            <a href="http://www.philia.com.tw/chung-yuan/index.html">English</a>
                        </span>
                    </div>
                    <div id="top_input">
                    	<input type="text" name="name" align="right">
                    	<img id="search"  src="../images/icon/search.gif"/>
                    </div>
                </div>
                <div id="tab2">
                </div>
                <div id="top_right3">
                	<img id="pic_title" src="../images/style/top_button/1-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/2-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/3-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/4-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/5-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/6-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/7-1.jpg"/>
                </div>
            </div>
			
		<section>
			<div id="nav" align="center">
				<div id="nav_1" align="center">
					<img id="pic_bg" align="center" src="http://www.philia.com.tw/chung-yuan/images/style/top_banner.jpg"/>
						<!--<div id="pic_left" align="center">
							<img src="http://www.philia.com.tw/chung-yuan/images/style/left_shadow.jpg"/>
						</div>-->
						
						<div id="menu" align="center">
							<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/left_button_top.gif"/><br/><br/>
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/1-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/2-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line.gif"/>   
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/3-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/3-1-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/3-2-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/4-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/4-1-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/center/left_button/4-2-1.gif"/>
								<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line.gif"/>
						</div>
                    
						<!--<div id="pic_right" align="center">
						  <img src="http://www.philia.com.tw/chung-yuan/images/style/right_shadow.jpg"/>
						</div>-->
				</div>
            
				<div id="nav_2" align="center">
					<img id="pic3_1" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_1-1.gif">
					<img id="pic3_2" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_2-1.gif">
					<img id="pic3_3" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_3-1.gif">
				</div>
            
				<div id="nav_3"><center>
				    <img src="http://www.philia.com.tw/chung-yuan/images/style/left_contact-1.gif">
					<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line-1.gif">
					<img src="http://www.philia.com.tw/chung-yuan/images/style/left_prize-1.gif">
					<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line-1.gif">
					<img src="http://www.philia.com.tw/chung-yuan/images/style/left_sitemap-1.gif">
				</center></div>
			</div>
        	<div id="content">
            	<div align="left">
               		<img id="title_pic" align="center" src="../images/center_title_2.jpg"/>
                  	
						<p>本校創新創業紮根計畫，從組織管理、總體營運、資源投入、產業連結及創新創業課程開設與發展等五大面向落實推動，透過強化創新	
						創業服務缺口，以銜接創新創業最後一哩，逐步將創新創業成果深植校園並蔚成風氣，使本校能成為國內外首屈一指之知識型創新創業大	
						學典範，進而促進台灣經濟永續創新發展。</p><br/>
						 
						<p>為落實創新創業教育向下紮根，我們將以現有三創教育為基礎，從校園的「創新創業課程品質、培育具有企業家精神之人才、鏈結產學	
						合作輔導能量及形塑校園風氣」等方面加以精進，以落實「能力養成、產業鏈結、資源整合、創新精進」的經營理念。</p><br/>
						
						<p>創新與創業是推動國家經濟發展之重要活水，也是青年成就人生夢想的具體實踐。隨著網路時代的來臨與服務業創新發展方興未艾，創	
						業型態也朝向多元化與微型化發展，對於充滿創意與創新能力的校園青年而言，創業將不再是遙不可及的夢想。中原創新創業引導列車推動策略藍圖如下：</p><br/>
                    
                    
                    	<img src="http://www.philia.com.tw/chung-yuan/images/center/pic-1.gif"/>
                    
				</div>
			</div>
		</section>
	</div>
		
    	<div  id="footer" style="background-image:url(../images/style/down_bg.jpg);" align="center">
        	<img src="../images/style/down.jpg">
        </div>
	</body>
</html>
