<!DOCTYPE html>
<html>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
    	<link href="../css/Sanchuang.css" rel="stylesheet">
        <link href="../css/index.css" rel="stylesheet">
		<title>中原大學  教學卓越三創暨創新創業紮根資訊網</title>    
    </head>
    <body>
    <div id="wrap">
        	<div id="top" align="right">
            	<div id="top_left">
                	<img src="../images/style/logo-2.jpg"/>
                </div>
                <div id="top_right1">
                	<img src="../images/style/name.jpg"/>
                </div>
                <div id="tab1">
                </div>
                <div id="top_right2">
                	<div id="top_text">
                    	<span class="11-Arial-brown">
                            <br>
                            <a href="http://www.philia.com.tw/chung-yuan/index.html">回首頁</a>
                                  │   
                            <a href="http://www.philia.com.tw/chung-yuan/index.html">English</a>
                        </span>
                    </div>
                    <div id="top_input">
                    	<input type="text" name="name" align="right">
                    	<img id="search"  src="../images/icon/search.gif"/>
                    </div>
                </div>
                <div id="tab2">
                </div>
                <div id="top_right3">
                	<img id="pic_title" src="../images/style/top_button/1-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/2-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/3-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/4-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/5-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/6-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/7-1.jpg"/>
                </div>
            </div>
			
		<section>
			<div id="nav" align="center">
				<div id="nav_1" align="center">
					<img id="pic_bg" align="center" src="http://www.philia.com.tw/chung-yuan/images/style/top_banner.jpg"/>
						<!--<div id="pic_left" align="center">
							<img src="http://www.philia.com.tw/chung-yuan/images/style/left_shadow.jpg"/>
						</div>-->
						
						<div id="menu" align="center">
							<img src="http://www.philia.com.tw/chung-yuan/images/cooperation/left_button/left_button_top.gif"/><br/><br/>
							<img src="http://www.philia.com.tw/chung-yuan/images/cooperation/left_button/1-1.gif"/>
							<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line.gif"/>
							<img src="http://www.philia.com.tw/chung-yuan/images/cooperation/left_button/2-1.gif"/>
							<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line.gif"/>   
							<img src="http://www.philia.com.tw/chung-yuan/images/cooperation/left_button/3-1.gif"/>
						</div>
                    
						<!--<div id="pic_right" align="center">
						  <img src="http://www.philia.com.tw/chung-yuan/images/style/right_shadow.jpg"/>
						</div>-->
				</div>
            
				<div id="nav_2" align="center">
				  <img id="pic3_1" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_1-1.gif">
				  <img id="pic3_2" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_2-1.gif">
				  <img id="pic3_3" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_3-1.gif">
				</div>
            
				<div id="nav_3"><center>
				  <img src="http://www.philia.com.tw/chung-yuan/images/style/left_contact-1.gif">
				  <img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line-1.gif">
				  <img src="http://www.philia.com.tw/chung-yuan/images/style/left_prize-1.gif">
				  <img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line-1.gif">
				  <img src="http://www.philia.com.tw/chung-yuan/images/style/left_sitemap-1.gif">
				</center></div>
			</div>
        	<div id="content">
            	<div align="left">
               		<img id="title_pic" align="center" src="../images/cooperation_title_2.jpg"/>
           
                	<div id="pic4"> 
                    	<img src="../images/cooperation_pic2.jpg" width="689px" height="32px"/><br/>
							<div id="content1">
								<div id="cooperation1_content1_1" style="text-align:left; line-height:30px">
									<a href="cooperation.html">1 產學合作成果名稱或作品標題欄位</a>
								</div>
								<div id="cooperation1_content1_2" style="text-align:center; line-height:30px">合作對像名稱欄位</div>
								<div id="cooperation1_content1_3" style="text-align:center; line-height:30px">100</div>
								<div id="hr1">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content2">
								<div id="cooperation1_content2_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content2_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content2_3" style="line-height:center; line-height:30px"></div>
								<div id="hr2">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content3">
								<div id="cooperation1_content3_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content3_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content3_3" style="line-height:center; line-height:30px"></div>
								<div id="hr3">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content4">
								<div id="cooperation1_content4_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content4_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content4_3" style="line-height:center; line-height:30px"></div>
								<div id="hr4">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content5">
								<div id="cooperation1_content5_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content5_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content5_3" style="line-height:center; line-height:30px"></div>
								<div id="hr5">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content6">
								<div id="cooperation1_content6_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content6_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content6_3" style="line-height:center; line-height:30px"></div>
								<div id="hr6">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content7">
								<div id="cooperation1_content7_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content7_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content7_3" style="line-height:center; line-height:30px"></div>
								<div id="hr7">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content8">
								<div id="cooperation1_content8_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content8_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content8_3" style="line-height:center; line-height:30px"></div>
								<div id="hr8">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content9">
								<div id="cooperation1_content9_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content9_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content9_3" style="line-height:center; line-height:30px"></div>
								<div id="hr9">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content10">
								<div id="cooperation1_content10_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content10_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content10_3" style="line-height:center; line-height:30px"></div>
								<div id="hr10">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content11">
								<div id="cooperation1_content11_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content11_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content11_3" style="line-height:center; line-height:30px"></div>
								<div id="hr11">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
							<div id="content12">
								<div id="cooperation1_content12_1" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content12_2" style="text-align:center; line-height:30px"></div>
								<div id="cooperation1_content12_3" style="line-height:center; line-height:30px"></div>
								<div id="hr12">
									<hr size="1" align="left" color="#DDDDDD" width="689px"/>
								</div>
							</div>
                    </div>
                    
				</div>
			</div>
		</section>
	</div>
		
    	<div  id="footer" style="background-image:url(../images/style/down_bg.jpg);" align="center">
        	<img src="../images/style/down.jpg">
        </div>
	</body>
</html>
