<!DOCTYPE html>
<html>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
    	<link href="../css/Sanchuang.css" rel="stylesheet">
        <link href="../css/index.css" rel="stylesheet">
		<title>中原大學  教學卓越三創暨創新創業紮根資訊網</title>    
    </head>
    <body>
    <div id="wrap">
        	<div id="top" align="right">
            	<div id="top_left">
                	<img src="../images/style/logo-2.jpg"/>
                </div>
                <div id="top_right1">
                	<img src="../images/style/name.jpg"/>
                </div>
                <div id="tab1">
                </div>
                <div id="top_right2">
                	<div id="top_text">
                    	<span class="11-Arial-brown">
                            <br>
                            <a href="http://www.philia.com.tw/chung-yuan/index.html">回首頁</a>
                                  │   
                            <a href="http://www.philia.com.tw/chung-yuan/index.html">English</a>
                        </span>
                    </div>
                    <div id="top_input">
                    	<input type="text" name="name" align="right">
                    	<img id="search"  src="../images/icon/search.gif"/>
                    </div>
                </div>
                <div id="tab2">
                </div>
                <div id="top_right3">
                	<img id="pic_title" src="../images/style/top_button/1-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/2-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/3-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/4-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/5-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/6-1.jpg"/>
            		<img id="pic_title" src="../images/style/top_button/7-1.jpg"/>
                </div>
            </div>
			
		<section>
			<div id="nav" align="center">
				<div id="nav_1" align="center">
					<img id="pic_bg" align="center" src="http://www.philia.com.tw/chung-yuan/images/style/top_banner.jpg"/>
						<!--<div id="pic_left" align="center">
							<img src="http://www.philia.com.tw/chung-yuan/images/style/left_shadow.jpg"/>
						</div>-->
						
						<div id="menu" align="center">
							<img src="http://www.philia.com.tw/chung-yuan/images/download/left_button/left_button_top.gif"/><br/>
							<img src="http://www.philia.com.tw/chung-yuan/images/download/left_button/1-1.gif"/>
							<img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line.gif"/>
							<img src="http://www.philia.com.tw/chung-yuan/images/download/left_button/2-1.gif"/>
						</div>
                    
						<!--<div id="pic_right" align="center">
						  <img src="http://www.philia.com.tw/chung-yuan/images/style/right_shadow.jpg"/>
						</div>-->
				</div>
            
				<div id="nav_2" align="center">
				    <img id="pic3_1" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_1-1.gif">
				    <img id="pic3_2" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_2-1.gif">
				    <img id="pic3_3" src="http://www.philia.com.tw/chung-yuan/images/style/left_banner_3-1.gif">
				</div>
            
				<div id="nav_3"><center>
				    <img src="http://www.philia.com.tw/chung-yuan/images/style/left_contact-1.gif">
				    <img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line-1.gif">
				    <img src="http://www.philia.com.tw/chung-yuan/images/style/left_prize-1.gif">
				    <img src="http://www.philia.com.tw/chung-yuan/images/style/left_button_line-1.gif">
				    <img src="http://www.philia.com.tw/chung-yuan/images/style/left_sitemap-1.gif">
				</center></div>
			</div>
        	<div id="content">
            	<div align="left">
               		<img id="title_pic" align="center" src="../images/download_title_2.jpg"/>
           
                	<div id="pic4">
                    	<img src="../images/download_pic1.jpg"/><br/>
						2012.05.30&nbsp;100學年度創新創意實作競賽複賽分組暨預定簡報時間表及展場位置
						<img src="http://www.philia.com.tw/chung-yuan/images/icon/download-icon.gif">
						<hr size="1" align="left" width="90%"></hr>
						2012.04.25&nbsp;三創學習護照申請表
						<img src="http://www.philia.com.tw/chung-yuan/images/icon/download-icon.gif">
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
						<hr size="1" align="left" width="90%"></hr><br/>
                    </div>
                    
				</div>
			</div>
		</section>
	</div>
		
    	<div  id="footer" style="background-image:url(../images/style/down_bg.jpg);" align="center">
        	<img src="../images/style/down.jpg">
        </div>
	</body>
</html>
